/* Default CSS Stylesheet for a new Web Application project */

BODY
{
    BACKGROUND-COLOR: ivory;
    font-family: Trebuchet MS;
}

TFOOT, THEAD	
{
	background-color: #ffe4e1;/*mistyrose*/
}

A
{
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	color: black;
	border-bottom: 0px;
	text-decoration: none;
}

A:hover
{
	color: Gray;
}
